/db
__pycache__
/djenv
/static
/venv
/dist
/scriptsCI/logs/*.json
/build
/images
/*.egg-info
.secret.env
.nginx.crt
.nginx.key
*.pyc
*.log
*.db
*.err
notes.txt
test.py
test.json
db.sqlite3
testproj/localhost.*
# Unit test / coverage reports
.tox/
